
  
  .item{
    border-radius: 10px;
    width: 250px; 
    margin: 5px;
    align-items: center;
    justify-content: center;
     
  }
  .item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0,0.20 );
  }
  .img-product{
    width: 100%;
    height: 250px; 
  }
  
  .info-product{
      padding: 12px 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
  }
  h4{
    color: white;
  }
  .precio{
      font-size: 18px;
      font-weight: bold;
      color: white;
  }
  .descripcio{
    font-size: 15px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.915);
  }
  
  @media (max-width: 600px){
      .item{
       width: 100%;
      }
  }
  